  基础样式重置*/
  html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
  }

  fieldset, img, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
  }

  ul, ol {
    list-style: none; 
    margin: 0;
    padding: 0;      /*清除列表风格*/
  }

  input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
  }

  select, input {
    vertical-align: middle;
  }

  select, input, textarea {
    font-size: 12px;
    margin: 0;
  }

  textarea {
    resize: none;
  }

  /*防止多行文本框拖动*/
  img {
    border: 0;
    vertical-align: middle;
  }

  /*  去掉图片低测默认的3像素空白缝隙*/
  table {
    border-collapse: collapse;      /*合并外边线*/
  }


  body {
    min-width: 1366px;
    min-height: 768px;
    overflow-x: auto;
    overflow-y: auto; 
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #666;
    background: #fff;
    margin: 0;
    box-sizing: border-box;
    font-family: "helvetica neue",tahoma,"hiragino sans gb",stheiti,"wenquanyi micro hei","\5FAE\8F6F\96C5\9ED1,\5B8B\4F53",sans-serif!important;
  }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1; /*IE/7/6*/
  }

  a {
    color: #666;
    text-decoration: none;
  }

  a:hover {
    color: #C81623;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
  }

  s, i, em {
    font-style: normal;
    text-decoration: none;
  }

  .col-red {
    color: #c81623 !important;
  }

  .fl {
    float: left
  }

  .fr {
    float: right
  }
  .common {
    padding: 0 80px;
  }

  .line {
    padding-left: 6px;
    border-left: 6px solid #AD45Df;
  }
  .live-line {
    border-color: #28ABFF;
  }
  .spacial-line {
    border-color: #FF5000;
  }
  .benefit-line {
    border-color: #31BA98;
  }
  .fashion-line {
    border-color: #AD45Df;
  }
  .sell-line {
    border-color: #FF242D;
  }
  .like-line {
    border-color: #FF9F00;
  }
/*正文样式部分*/

/*顶部导航开始*/
  .site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background: #f5f5f5;
  }
  .site-nav-login {
    color: #f22e00;
  }
  .site i {
    height: 100%;
    padding-right: 18px;
    text-align:center;
    font: 400 12px/25px "simsun";
  }
  .site-nav-left {
    width: 200px;
  }
  .site-nav-detail {
    display: flex;
  }
  .site-nav-right a {
    padding:0 10px;
  }
  .site-nav-right .select {
    position: relative;
    padding: 0 15px 0 10px;
  }
  .site-nav-right i,.select i {
    position: absolute;
    top: 8px;
    right: -6px;
    width: 15px;
    height: 7px;
    overflow:hidden;
  }
  .site-nav-right s,.select s {
    font: 400 13px/15px "consolas";
    position: absolute;
    top:-7px;
  }
  .shop-car {
    position: relative;
    padding: 0 0 0 15px;
  }
  .shopping {
    position: absolute;
    background: url("images/tel.png") no-repeat;
    left: 5px;
    top: -57px;
    width: 15px;
    height: 80px;
  }
  /*顶部导航结束*/

  .content {
    height: calc(100% - 200px - 182px);
    margin-top: 20px;
    background: #F5F5F5;
    padding-bottom: 20px;
  }

  /*搜索部分开始*/
  .search {
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .search input {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
  }
  .search-logo {
    flex: 0 0 213px;
    height: 75px;
  }
  .logo {
    display: inline-block;
    background: url("images/logo.png") no-repeat;
    width: 213px;
    height: 75px;
    text-indent: -5000px;
  }
  .search-info {
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    padding: 0 100px;
  }
  .search-info-top {
    display: flex;
    margin-bottom: 8px;
  }
  .search .search-info-input {
    flex: 1 1 auto;
    height: 31px;
    border: 2px solid #ff4200;
    font-size: 14px;
    padding-left: 4px;
  }
  .search-info-botton {
    flex: 0 0 80px;
    height: 35px;
    background: #ff4200;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  .search-hot {
    color: #ff4200;
  }
  .search-info-bottom a{
    padding: 5px;
    font-size: 13px;
  }
  /*搜索部分结束*/


  /*导航部分开始*/
  .search-nav {
    display: flex;
    align-items: center;
    height: 40px;
    background: #e9e9e9;
    margin: 0;
  }
  .search-nav li a {
    padding: 0 10px;
  }
  /*导航部分结束*/

  /*正文导航部分开始*/
  .content-nav {
    width: 100%;
    height: 30px;
    display: flex;
    color: #FFF;
  }
  .content-nav-menu-all a{
    display: inline-block;
    width: 201px;
    background-color: #FF5000;
    height: 30px;
    font: 400 15px/30px "microsoft yahei";
    color: #fff;
    padding-left: 9px;
    text-align: center;
  }
  .content-nav-menu-one {
    height: 490px;
    width: 208px;
    border: 1px solid #FF5000;
    position: absolute;
    background: #FFF;
    text-align: center;
  }
  .content-nav-menu-one li {
    height: 31px;
    position: relative;
  }
  .content-nav-menu-one a {
    display: inline-block;
    width: 100%;
    height: 31px;
    float: left;
    font: 400 14px/31px "微软雅黑";
  }
  .content-nav-menu-one a:hover {
    background-color: #fff;
    color: #C81623;
  }
  .content-nav-menu-one i{
    position: absolute;
    top:0px;
    right: 9px;
    font: 400 12px/31px "consolas";
    color: #fff;
  }
  .content-nav-items {
    width: calc(100% - 210px);
    height: 30px;
    background: #FF9000;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
  }

  .content-nav-items li a {
    display:block;
    height: 30px;
    font: 700 16px/30px "microsoft yahei";
    color: #FFF;
    padding-right: 18px;
  }
  .content-nav-items li a:hover {
    color: #C81623;
  }
    /*正文导航部分开始*/


  /*正文部分开始*/
  .content-header {
    width: calc(100% - 219px);
    height: 480px;
    margin: 12px 0 0 219px;
    display: flex;
    position: relative;
  }
  .content-header-left {
    flex: 1 1 auto;
    height: 100%;
    padding-right: 18px;
    overflow: hidden;
  }
  .content-header-right {
    flex: 0 0 290px;
    height: 100%;
    background: #FFF;
  }
  .content-header-left-img {
    display: flex;
    justify-content: space-between;
  }
  .content-header-right-top {
    text-align: center;
    padding-top: 10px;
  }
  .content-header-right-top button {
    outline:none;
    width: 69px;
    height: 24px;
    color: #FFF;
    background-image:  linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    cursor: pointer;
    margin: 10px 0 10px 0;
  }
  .content-header-right-title {
    background: #ffe4dd;
    color: #f40;
    text-align: center;
    height: 30px;
    line-height: 30px;
  }
  .content-header-right .nav {
    display: flex;
    height: 40px;
    line-height: 40px;
    justify-content: space-between;
    margin-left: 0;
    padding: 0;
    padding: 0 20px;
  }
  .content-header-right-text {
    height: 43px;
    line-height: 22px;
    margin-left: 10px;
  }
  .content-header-right-text1 {
    color: red;
  }
  .content-header-right-footer {
    width: 100%;
    height: 100%; 
    margin: 15px 0 0 0;
    padding: 0;
  }
  .content-header-right-footer li {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #F4F4F4;;
    border-right: 0;
    text-align: center;
  }
  .icon-img {
    background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    background-repeat: no-repeat;
  }
  .content-header-right-top-money-img1 {
    background-position: 0px 0;
  }
  .content-header-right-top-money-img2 {
    background-position: 0px -87px;
  }
  .content-header-right-top-money-img3 {
    background-position: 0px -44px;
  }
  .content-header-right-top-money-img4 {
    background-position: 0px -132px;
  }
  .content-header-right-top-money-img5 {
    background-position: 0px -176px;
  }
  .content-header-right-top-money-img6 {
    background-position: 0px -220px;
  }
  .content-header-right-top-money-img7 {
    background-position: 0px -264px;
  }
  .content-header-right-top-money-img8 {
    background-position: 0px -308px;
  }
  .content-header-right-top-money-img9 {
    background-position: 0px -352px;
  }
  .content-header-right-top-money-img10 {
    background-position: 0px -396px;
  }
  .content-header-right-top-money-img11 {
    background-position: 0px -440px;
  }
  .content-header-right-top-money-img12 {
    background-position: 0px -484px;
  }


  .top-line-wrapper {
    width: 100%;
    height: 99px;
    display: flex;
  }
  .top-line-wrapper-left {
    display: flex;
    width: 100%;
    background: #FFF;
    margin: 10px 18px 0 0;
    padding: 14px 14px 12px 20px;
  }
  .top-line-left {
    width: 180px;
    height: 70px;
    line-height: 30px;
  }
  .top-line-right {
    display: flex;
  }
  .top-line-maintext {
    margin-top: 2px;
    color: #333;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
  }
  .top-line-text {
    color: #999;
    height: 36px;
    line-height: 18px;
    margin-left: 15px;
    font-size: 14px;
  }
  .top-line-wrapper-right {
    flex: 0 0 290px;
    height: 100%;
    background: #FFF;
  }
  .app-icon-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
    color: #000;
  }
  .app-icon-text {
    font-size: 14px;
    font-weight: 700;
  }
  .app-icon-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .app-icon-wrap li {
    float: left;
    margin: 0 21px 2px 0;
  }
  .app-icon-wrap li img {
    width: 32px;
    height: 32px;
  }

  .research-wrap {
    height: 166px;
    margin-top: 10px;
    overflow: hidden;
    background: #FFF;
  }
  .research-title {
    height: 24px;
    margin: 20px 0;
    padding-left: 12px;
  }
  .research-title img {
    width: 90px;
    height: 24px;
    margin-right: 8px;
  }
  .research-img {
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
  }
  #heart {
    width: 6px;
    height: 11px;
    margin-right: 10px;
    position: relative;
  }
  #heart:before, #heart:after {
    content: "";
    position: absolute;
    top: 0;
    width: 6px;
    height: 11px;
    background-color: #13D0A1;
    border-radius: 150px 150px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:before {
    left: 7px;
  }
  #heart:after {
    left: 0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  .research-img li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .research-img img {
    width: 66px;
    height: 66px;
    border: 1px solid #13d0a1;
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
  }
  .research-box-title {
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
  }
  .research-box-center {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #999;
  }
  .research-box-footer {
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
  }

  .show-shop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .good-goods {
    width: 50%;
    height: 100%;
    background: #FFF;
    margin-right: 10px;
    padding: 0 10px;
    overflow: hidden;
  }
  .shoping {
    width: 50%;
    height: 100%;
    background: #FFF;
    padding: 0 10px;
    overflow: hidden;
  }
  .goods-title img {
    width: 74px;
    height: 24px;
    margin-right: 10px;
  }
  .goods-title {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .goods-content {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .goods-img-wrap {
    width: 180px;
    height: 180px;
    background: #4f4f4f;
  }
  .goods-content li {
    float: left;
    margin-right: 10px;
  }
  .goods-content img {
    background: #333;
    opacity: 0.9;
  }
  .goods-img-title {
    height: 28px;
    font-size: 16px;
    margin-top: 5px;
    line-height: 28px;
  }
  .goods-img-center {
    height: 24px;
    font-size: 14px;
    color: #999;
  }
  .goods-img-footer {
    display: flex;
    height: 24px;
    font-size: 12px;
    color: #999;
  }
  #face {
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #35B1FF;
    background: #FFF;
    margin-right: 5px;
  }
  #eyes-left, #eyes-right {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 4px;
    left: 2px;
    background: #35B1FF;
  }

  #eyes-right {
    left: 8px;
  }
  #mouth { 
    color: #35B1FF;
    position: absolute;
    top: -2px;
    left: 4px;
 } 
    
  .purchase-wrap {
    height: 264px;
    width: 100%;
    background: #FFF;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .purchase-content {
    display: flex;
    justify-content: space-between;
  }
  .purchase-content li {
    display: flex;
  }
  .purchase-img-wrap {
    margin-right: 10px;
  }
  .purchase-img-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    margin-top: 20px;
  }
  .progress-box {
    width: 166px;
    height: 6px;
    background: #FFE4Dc;;
    border-radius: 3px;
  }
  .progress {
    width: 20%;
    height: 6px;
    border-radius: 3px;
    background: #FE3338;
  }
  .purchase-img-center {
    height: 25px;
    line-height: 25px;
  }
  .purchase-img-number {
    height: 25px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    color: #FE3338;
  }
  .purchase-img-title {
    height: 44px;
    font-size: 16px;
    margin-top: 11px;
    line-height: 22px;
    color: #333;    
  }

  .cut-img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }


  /*展示部分结束*/
  .show-detail {

  }
  .show-header {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
  }
  .show-header-left {
    flex: 1 1 auto;
    height: 30px;
    line-height: 30px;
  }
  .show-header-right {
    flex: 0 0 300px;
    padding-left: 50px;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #e8e8e8;
  }
  .show-header-right input {
    margin-right: 10px;
  }
  .show-content {
    /*display: flex;*/
  }
  .show-content li {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .show-list-item {
    width: 250px;
    height: 360px;
    border: 1px solid #e8e8e8;
    float: left;
  }
  .show-list-item img {
    padding: 10px 15px;
  }
  .input-choose {
    width: 50px;
  }


  .store-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .store-info-left {
    width: 50%;
    height: 100%;
    background: #FFF;
    margin-right: 10px;
    padding: 0 10px 10px 10px;
    overflow: hidden;
  }
  .store-info-right {
    width: 50%;
    height: 100%;
    background: #FFF;
    padding: 0 10px 10px 10px;
    overflow: hidden;
  }
  .store-content {
    margin: 0;
    padding: 0;
  }
  .store-title {
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
  }
  .store-img-wrap {
    display: flex;
  }
  .store-img-wrap img {
    background: #333;
    opacity: 0.9;
  }
  .store-img-right {
    height: 180px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
  }
  .store-img {
    width: 89px;
    height: 89px;
    background: #4F4F4F;
  }
  .store-img img {
    width: 89px;
    height: 89px;
  }
  .store-content li {
    float: left;
  }
  .store-content li:nth-child(2n+1) {
    margin-right: 10px;
  }
  .store-content li:nth-child(1), .store-content li:nth-child(2) {
    margin-bottom: 20px;
  }

  .fashion-wrap {
    width: 100%;
    height: 290px;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
  }
  .fashion-left {
    flex: 1 1 auto;
    background: #FFF;
  }
  .fashion-right {
    flex:  0 0 340px;
    background: #FFF;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 20px;
  }
  .fashion-title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #AD45Df;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
  }
  .benefit-title {
    color: #31BA98;
  }
  .fashion-img-wrap {
    height: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F4F4F4;;
    margin: 0;
    padding: 0;
  }

  .fashion-img-wrap li {
    width: 280px;
    height: 236px;
    border-top: 1px solid #F4F4F4;
    text-align: center;
    border-top: 1px solid #F4F4F4;
  }

  .fashion-img-wrap li:nth-child(2) {
    border-left: 1px solid #F4F4F4;;
    border-right: 1px solid #F4F4F4;;
  } 
  .fashion-title-wrap {
    padding-left: 20px;
    margin-top: 27px;
  }
  .fashion-img-wrap {
    padding-left: 20px;
  }
  .fashion-global {
    font-size: 18px;
    color: #3C3C3C;
  }
  .fashion-live {
    color: #999;
  }


  .quality-title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #28ABFF;;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
  }
  .quality-wrap-left {
    padding-left: 0;
    padding-right: 0;
  }
  .quality-content {
    display: flex;
  }
  .quality-top {
    background: #4F4F4F;
    margin: 19px;
  }
  .quality-content-left {
    border: 1px solid #F4F4F4;
  }
  .quality-center {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #F4F4F4;
  }
  .quality-center-title {
    padding: 35px 0 0 40px;
    width: 122px;
  }
  .quality-center-text {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #333;
  }
  .quality-content-right {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .quality-content-right li {
    padding: 30px 19px;
    height: 178px;
    border-top: 1px solid #F4F4F4;
  }
  .quality-center-right-text {
    font-size: 18px;
    color: #333;
    margin-left: 10px;
  }
  .quality-content-right-img {
    margin-top: 24px;
  }
  .quality-title-right {
    color: #FF5000;
  }

  .hot-benefit {
    width: 100%;
    height: 251px;
    background: #FFF;
    margin-top: 10px;
  }
  .benefit-img {
    display: flex;
  }
  .benefit-img img {
    width: 120px;
    height: 120px;
  }
  .benefit-top-title {
    line-height: 24px;
    font-size: 16px;
    margin-top: 22px;
    color: #333;
  }
  .benefit-center-title {
    line-height: 22px;
    font-size: 14px;
    color: #999;
  }
  .benefit-bottom-title {
    width: 76px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: 13px;
    border: 1px solid #FF5000;
    color: #FF5000;
    border-radius: 16px;
  }
  .benefit-total {
    height: 26px;
    list-style: 26px;
    font-size: 18px;
    color: #333;
    padding-left: 20px;
    margin-top: 27px;
  }
  .benefit-img-wrap {
    height: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F4F4F4;
    margin: 0;
    padding: 0;
  }
  .benefit-img-wrap li {
    width: 216px;
    text-align: left;
    padding-left: 20px;
    border-right: 1px solid #F4F4F4;;
  }
  .benefit-img-wrap li:last-child {
    border: none;
  }
  .benefit-img img {
    margin-right: 10px;
  }

  .hot-sell {
    width: 100%;
    height: 100%;
    background: #FFF;
    margin-top: 10px;
  }
  .hot-sell-title {
    height: 22px;
    line-height: 22px;
    padding: 17px 18px;
    font-size: 20px;
    color: #FF242D;
  }
  .hot-sell-nave {
    display: flex;
    margin: 0 0 10px 0;
    padding: 0 18px;
  }
  .hot-sell-nave li {
    margin-right: 15px;
  }
  .hot-sell-content {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .hot-sell-content li {
    width: 197px;
    padding: 20px;
    border-top: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
  }
  .hot-sell-text {
    height: 40px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
    margin: 8px 0;
  }
  .hot-sell-text img {
    width: 28px;
    height: 16px;
    margin-right: 5px;
  }
  .hot-sell-judge {
    color: #999;
    width: 95px;
    display: flex;
    justify-content: space-between;
  }
  .hot-sell-bottom {
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .hot-sell-price {
    color: #FF5000;
  }
  .hot-sell-number {
    font-size: 22px;
  }
  .hot-sell-conetnt-img {
    display: flex;
    padding: 20px;
  }
  .hot-sell-conetnt-img img {
    width: 370px;
    height: 130px;
  }

  .like-sell-title {
    color: #FF9F00;
  }
  .like-sell-price {
    margin-top: 20px;
  }


  .content-end  {
    height: 50px;
    display: block;
    font-size: 14px;
    position: relative;
    color: #CCCCD0;
  }
  .content-end div {
    position: absolute;
    top: 10px;
    left: 46%;
    width: 84px;
    color: #CCCCD0;
    font-size: 18px;
  }
  .content-end:after, .content-end:before {
    background: #CCCCD0;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 6%;
  }
  .content-end:before {
    left: 38%;
  }
   
  .content-end:after {
    right: 43%;
  }
  .content-end-box {
    width: 100%;
    height: 180px;
    margin-top: 50px;
    display: flex;
  }
  .content-end-box li {
    padding: 0 25px;
  }
  .content-end-box a {
    margin-right: 10px;
    color: #999;
  }
  .content-end-box-top {
    display: flex;
    align-items: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #3C3C3C;
    font-weight: 700;
  }
  .content-end-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #999;
    color: #fff;
    border-radius: 50%;
    font-size: 27px;
    margin-right: 10px;
  }

  .like-sell-content img {
    width: 200px;
    height: 199px;
  }

  /*展示部分结束*/

  
  /*结尾部分开始*/
  .footer {
    padding: 0 80px 10px 80px;
    height: 170px
  }
  .footer-top {
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .footer-top a {
    padding: 0 10px;
  }
  .footer-bottom {
    margin-bottom: 20px;
  }
/*结尾部分结束